<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>Карточка товара с Bootstrap</title>
    <!-- Подключаем стили Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-4">
    <div class="card" style="width: 300px;">
        <img class="card-img-top" src="path/to/product_image.jpg" alt="Product Image">
        <div class="card-body">
            <h5 class="card-title">Товар</h5>
            <p class="card-text">Это описание товара. Здесь можно указать дополнительную информацию о товаре, его
                характеристики и преимущества.</p>
            <p class="card-price">$99.99</p>
            <a href="#" class="btn btn-primary">Купить</a>
        </div>
    </div>
</div>

<!-- Подключаем скрипты Bootstrap (jQuery и Popper.js должны быть подключены перед Bootstrap.js) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="{% static 'catalog/js/bootstrap.js' %}"></script>
</body>
</html>
