<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    {% load mediapath_tags %}

    <title>Карточка товара</title>
    <!-- Подключаем стили Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-4">
    <div class="card" style="width: 300px;">
        <img class="card-img-top" src="{{object.image | mediapath}}" alt="Product Image">
        <div class="card-body">
            <h5 class="card-title">{{object.name}}</h5>
            <p class="card-text">{{object.description}}</p>
            <p class="card-price">{{object.price_for_purchase}}$</p><br>
            <p class="card-price">{{object.owner|default:"Свободное ПО"}}</p>
            <h5>Версии продукта:</h5>
                <ul>
                {% for version in versions %}
                    <li>Номер версии -{{ version.version_number }}</li>
                    <li>Название - {{ version.version_name }}</li>

                {% endfor %}
                </ul>

            <a href="{% url 'homepage' %}" class="btn btn-primary">На главную</a>
        </div>
    </div>
</div>

<!-- Подключаем скрипты Bootstrap (jQuery и Popper.js должны быть подключены перед Bootstrap.js) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="{% static 'catalog/js/bootstrap.js' %}"></script>
</body>
</html>
